<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
	</configSections>
	<appSettings>
		<add key="WebDAL" value="WC.DAL"/>
		<add key="OLEDBCONNECTIONSTRING" value="provider=microsoft.jet.oledb.4.0;data source="/>
		<add key="dbPath" value="~/App_Data/DataBase.config"/>
	</appSettings>
	<system.web>
		<machineKey validationKey="5CF1D127BC0532250D0320A7B55FA692BC02AFE8" decryptionKey="270450AB36318B344C926B506C95DEDF9B51211D1C2A7A77" decryption="3DES" validation="SHA1"/>
		<pages validateRequest="false"/>
		<httpRuntime maxRequestLength="123960" executionTimeout="675"/>
		<httpModules>
			<add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
		<compilation debug="true"/>
		<customErrors mode="Off"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
</configuration>
